
<h1>Test Cdelete</h1>
<h1>Are You Sure To Delete This @Model.NameEN Category?</h1>
<a class="btn btn-danger" asp-controller="Category" asp-action="Delete">Delete</a>
<a class="btn text-white" style="background-color:#0d6efd" asp-controller="Category" asp-action="GetAllCategories">No</a>