
@model CategoryDto
<div class="container-fluid row">
    <div class="col-9 m-1">
<h1>Update Category</h1>
<form method="post" asp-controller="Category" asp-action="CUpDate">
    <div class="form-group">
        <label asp-for="ID" hidden></label>
        <input asp-for="ID" class="form-control" hidden/>
    </div>
    <div class="form-group">
        <label asp-for="NameAR"></label>
        <input asp-for="NameAR" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="NameEN"></label>
        <input asp-for="NameEN" class="form-control" />
    </div>

            <input type="submit" style="background-color:#0d6efd" value="Update" class="btn text-white" />
</form>
</div>
</div>