@using DTOs
@model OrderDto

<h1>Update Order</h1>
<form method="post" asp-controller="order" asp-action="UpDate">
    <div class="form-group">
        <label asp-for="ID" hidden></label>
        <input asp-for="ID" class="form-control" hidden/>
        <span asp-validation-for="ID" class="validation"></span>
    </div>
    <div class="form-group">
        <label asp-for="CustomerId"></label>
        <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.Customer"></select>
        <span asp-validation-for="CustomerId" class="validation"></span>
    </div>
    <div class="form-group">
        <label asp-for="PaymentId"></label>
        <select asp-for="PaymentId" class="form-control" asp-items="ViewBag.Payment"></select>
        <span asp-validation-for="PaymentId" class="validation"></span>
    </div>
    <div class="form-group">
        <label asp-for="OrderDate"></label>
        <input asp-for="OrderDate" class="form-control" />
        <span asp-validation-for="OrderDate" class="validation"></span>
    </div>


    <input type="submit" value="Update" class="btn text-white" style="background-color:#0d6efd" />
</form>
